@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?ybs7is');
  src: url('../fonts/icomoon.eot?ybs7is#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ybs7is') format('truetype'),
    url('../fonts/icomoon.woff?ybs7is') format('woff'),
    url('../fonts/icomoon.svg?ybs7is#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-blog:before {
  content: '\e900';
}
.icon-gosh:before {
  content: '\e901';
}
.icon-telegram:before {
  content: '\e902';
}
